/* Reset & Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Brawler", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #047958;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #047958;
  padding: 5px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  margin: 10px;
  text-align: center;
  border-radius: 8px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #000000;
}

.subtitle {
  font-size: 1.2rem;
}

/* Centering Utility */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Form & Inputs */
.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fffafab0;
  border-radius: 5px;
}

.input,
.textarea,
.file-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#inputAreapreview {
  width: 600px;
  height: 500px;
}

.file-input {
  border: none;
  background-color: #000000;
  color: #047958;
}

.btn {
  background-color: #0078d7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #005bb5;
}

/* Preview Box */
.preview-box {
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  color: #000000;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
  --color: #0c0c0c;
  --hover: #10ca9b;
}

li {
  color: var(--color);
  transition: 0.25s;
}
li:hover,
li:focus {
  border-color: var(--hover);
  color: #fff;
  border-radius: 100px;
}

li {
  background: none;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

/* CodeMirror Editor */
.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 500px; /* Adjust height as needed */
  width: 100%;
}

/* Font Size Controls */
.font-controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.font-controls button {
  background-color: #0078d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.font-controls button:hover {
  background-color: #005bb5;
}

#text-rainbow {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    gold,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
